.makefooter{
    background-color: black;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    


    left: 0;
    bottom: 0;
    color: black;
    
    vertical-align: bottom;
}