.fa-times{
    color: red;
    font-size: 1.7rem;
}
.fa-bars{
    color:black;
    font-size: 1.7rem;
}
.navbar{
    color: black;
    margin-top: 3%;
}
.navbar-logo{color:black;
text-decoration: 
none;
font-size: 2rem;
margin-left: 2%;

font-family: serif;

;}
.menu-icon{
display: none;
}
.nav-item{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-top: 10%;

  
   
 
}
.hrcomp{
    width: 95%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;

    color: black;
    width: 10vw;
    z-index: 1;
    
    margin-right: 2rem;
  }
  .fullwidth
  {
      text-decoration: none;
      color: white;
      margin-left: 2%;
      display:flexbox;
  }
@media only screen and (max-width:960px) {

    .menu-icon{
        display: block;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}
.navbar-logo{color:black;
text-decoration: 
none;
font-size: 2rem;
margin-left: 20%;
font-family: serif;

;}



 .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 62.5%;

    height: 100%;
    position: absolute;
    color: black;
    
    left: -200%;
  background-color: black;
  opacity: 0.2;

   margin-top: -1.8%;
    transition: all 1s ease;
  }

  .nav-menu.active {
    background: black;
   
    color: white;
    
    left: 0;
   opacity: 0.8;
    transition: all 1s ease;
    z-index: 1;
  }


.hrcomp{
    width: 95%;
}
}